<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informacije o studentu</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Broj indeksa</th>
            <th>Godina upisa</th>
            <th>Smer</th>
            <th>Grupa</th>
            <th>Slika</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ student.ime }}</td>
            <td>{{ student.prezime }}</td>
            <td>{{ student.broj_indeksa }}</td>
            <td>{{ student.godina_upisa }}</td>
            <td>{{ student.smer }}</td>
            <td>{{ student.grupa.all.0.oznaka_grupe }}</td>
            {% if student.slika %}
                <td><img src="{{ student.slika.url }}" style="width: 300px;"></td>
            {% else %}
                <td>{{ form }}</td>
            {% endif %}
            <td><input type="submit" value="Unesi"/></td>
        </tr>

        </tbody>
    </table>
</form>
</body>
</html>
