<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informacije o studentu</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Broj indeksa</th>
                <th>Godina upisa</th>
                <th>Smer</th>
                <th>Grupa</th>
                <th>Slika</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ student.ime }}</td>
                <td>{{ student.prezime }}</td>
                <td>{{ student.broj_indeksa }}</td>
                <td>{{ student.godina_upisa }}</td>
                <td>{{ student.smer }}</td>
                <td>{{ student.grupa }}</td>
{#                {% if student.slika %}#}
{#                    <td><img src="{{ student.slika.url }}"> </td>#}
{#                {% else %}#}
{#                    <td><input name="slika_studenta" type="image"></td>#}
{#                {% endif %}#}

            </tr>

        </tbody>
    </table>

</body>
</html>
