<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slanje e-maila</title>
</head>
<body>
<form action="{% url 'posalji_mail' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>E-mail salje:</label><br>
    <input name="posiljaoc" value="{{ nalog.username }}@raf.rs" readonly="readonly"/><br><br>
    <label>Subject:</label><br>
    <input name="subject"><br>
    <label>Tekst maila:</label><br>
    <textarea rows="4" cols="50" name="tekst"></textarea><br><br>
    {% if nalog.uloga == 'sekretar' or nalog.uloga == 'administrator' %}
        {{ form }}
    {% else %}
        <select multiple name="predmeti" size="5">
            {% for p in predmeti %}
                <option value="{{ p.naziv }}">{{ p.naziv }}</option>
            {% endfor %}
        </select>
        <select multiple name="grupe" size="5">
            {% for t in termini %}
                {% for g in t.grupe.all %}
                    <option value="{{ g.oznaka_grupe }}">{{ g.oznaka_grupe }}</option>
                {% endfor %}
            {% endfor %}
        </select>
        <input name="fajl_attachment" type="file" id="fajl_attachment">
    {% endif %}
    <input type="submit" value="Posalji">
</form>
</body>
</html>
