<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nastavnici</title>
</head>
<body>
    {%  if nastavnici %}
    <table>
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Zvanje</th>
                <th>Korisnicko ime</th>
            </tr>
        </thead>
        <tbody>
        {% for n in nastavnici  %}
            <tr>
                <td>{{ n.ime }}</td>
                <td><a href="{% url 'timetableforuser' n.nalog.username %}"> {{ n.prezime }} </a></td>
                <td>{{ n.zvanje }}</td>
                <td>{{ n.nalog.username }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Nema nastavnika u bazi</p>
    {% endif %}
</body>
</html>
