<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pregled izabranih grupa</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Oznaka grupe</th>
        <th>Oznaka semestra</th>
        <th>Kapacitet</th>
        <th>Smer</th>
    </tr>
    </thead>
    <tbody>
    {% for g in grupe %}
        <tr>
            {% if g.aktivna == True %}
                <td><a href="{% url 'pregled_studenata_u_izbornim_grupama' g.oznaka_grupe %}">{{ g.oznaka_grupe }}</a>
                </td>
                <td>{{ g.oznaka_semestra }}</td>
                <td>{{ g.smer }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
